# ---- build artifacts ----
*.o
*.d
*.a
*.out
*.so
*.gch
*.dSYM/
obj/
objs/

# ---- editor / OS ----
.DS_Store
*.swp

# ---- executables (확장자가 없어서 경로를 직접 나열) ----
CPP/cpp00/ex00/megaphone
CPP/cpp00/ex01/phonebook
CPP/cpp01/ex00/BraiiiiiiinnnzzzZ
CPP/cpp01/ex01/MoarBrainz
CPP/cpp01/ex02/HiThisIsBrain
CPP/cpp01/ex03/UnecessaryViolence
CPP/cpp01/ex04/SedIsForLoser
CPP/cpp01/ex05/harl
CPP/cpp01/ex06/harl
CPP/cpp02/ex00/fixed
CPP/cpp02/ex01/fixed
CPP/cpp02/ex02/fixed
CPP/cpp03/ex00/ClapTrap
CPP/cpp03/ex01/ScavTrap
CPP/cpp03/ex02/FragTrap
CPP/cpp04/ex00/Polymorphism
CPP/cpp04/ex01/Brain
CPP/cpp04/ex02/Brain
CPP/cpp05/ex00/Bureaucrat
CPP/cpp05/ex01/Form
CPP/cpp05/ex02/Execute
CPP/cpp05/ex03/Execute
CPP/cpp06/ex00/ScalarConverter
CPP/cpp06/ex01/Serializer
CPP/cpp06/ex02/Base
CPP/cpp07/ex00/whatever
CPP/cpp07/ex01/iter
CPP/cpp07/ex02/Array
CPP/cpp08/ex00/easyfind
CPP/cpp08/ex01/Span
CPP/cpp08/ex02/MutantStack
CPP/cpp09/ex00/btc
CPP/cpp09/ex01/RPN
CPP/cpp09/ex02/PmergeMe
philosophers/philo/philo
pipex/pipex
push_swap/push_swap
so_long/so_long
