MARIADB_DATABASE=wordpress
MARIADB_USER=wpuser
MARIADB_PASSWORD=__GENERATE__
WORDPRESS_DB_HOST=mariadb
AUTH_KEY=__GENERATE__
SECURE_AUTH_KEY=__GENERATE__
LOGGED_IN_KEY=__GENERATE__
NONCE_KEY=__GENERATE__
AUTH_SALT=__GENERATE__
SECURE_AUTH_SALT=__GENERATE__
LOGGED_IN_SALT=__GENERATE__
NONCE_SALT=__GENERATE__
